.stage{
    background-color: black;
    width: 80%;
    height: 100px;
    margin: auto;
    left: 0;
    right: 0;
    text-align: center;
}

.matchTitle{
    color: white;
}

.players{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}

.player1{
    width: 50%;
    float: left;
}

.player2{
    width: 50%;
    float: right;
}

.points{
    text-align: center;
    background-color: rgb(189, 241, 137);
}

.differencesTable{
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 80%;
    top: 65%;
    margin: auto;
    left: 0;
    right: 0;
}

.differencesTable>div{
    width: 50%;
    border: 1px solid black;
}

.dropdown{
    background-color: cadetblue;
    color: white;
    padding: 12px;
    outline: none;
    border: none;
    margin-top: 20px;
    font-size: 15px;
}

.playBtn{
    background-color: cadetblue;
    color: white;
    border: none;
    outline: none;
    padding: 12px;
    font-size: 15px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 10px;
}

.stopBtn{
    background-color: cadetblue;
    color: white;
    border: none;
    outline: none;
    padding: 12px;
    font-size: 15px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 10px;
}

.slides{
    margin-bottom: 0px;
    font-weight: normal;
}